<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic web page</title>
</head>
<body>
    <!--This is a comment-->
    <center><img src="../static/pic-removebg-preview.png" style="width:10%" ></center>
    <center><h2>Hello, this is <i>Karthikaa</i></h2> </center>
    <p>I am an <em>enthusiastic</em>, <em>self-motivated</em>, <em>responsible</em> and <em>hard working </em><b>3rd year Computer science engineering student </b>with specialization in <b>Cyber Security</b></p>
    <center><h2><u>Fields that I'm interested in:</u></h2></center>
    <h3><strong><center><mark>Web Technology </mark></center></strong></h3>
    <p><center>Web Technology refers to the various tools and techniques that are utilized in the process of communication between different types of devices over the Internet.</center><p>

        <h3><strong><center><mark>Machine Learning </mark></center></strong></h3>
        <p><center>Machine learning is a branch of artificial intelligence (AI) and computer science which focuses on the use of data and algorithms to imitate the way that humans learn, gradually improving its accuracy.</center><p>
</body>
</html>